{{define "new"}}{{if .IsPrivate}}new{{else}}New{{end}}{{end -}}
{{define "args"}}{{range .}}{{.Name.Argument}} {{template "star" .}}{{.Type.Prefix}}{{template "ex-pkg" .}}{{.Type.Name}}, {{end}}{{end -}}
{{define "star"}}{{if .Type.IsStar}}*{{end}}{{end}}
{{define "ex-pkg"}}{{if .Type.Package}}{{.Type.Package}}.{{end}}{{end}}

{{define "function" -}}
{{$f := . -}}
package {{$f.Package}}
{{range $s := $f.Structs}}
func {{template "new" $s}}{{title $s.Name}} ({{template "args" $s.Fields}}) *{{$s.Name}} {
  return &{{$s.Name}} {
  {{- range $v := $s.Fields}}
    {{$v.Name.Original}}: {{$v.Name.Argument}},
  {{- end}}
  }
}
{{end}}
{{end}}

{{- template "function" .}}
